*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 30px;
  margin: 133px 30px;
}

.result {
  align-content: end;
  padding-bottom: 2px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
  object-position: center;
  position: relative;
}

.result__video {
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: inherit;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  padding: 2px 0px 1px;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  content: "";
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  display: block;
  padding: 1px;
}

.button {
  background-color: transparent;
  color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  padding: 0px;
  cursor: pointer;
  border: 1px solid currentColor;
}

.search-form__submit-button {
  padding: 5px 73px;
  align-self: flex-end;
}

.content__details {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-self: end;
  row-gap: 21px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 93%;
  padding-top: 4px;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow-y: auto;
  block-size: 300px;
  padding-bottom: 2px;
  inline-size: 405px;
  align-content: end;
  position: relative;
}

.content__list::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 2px;
}

.content__list::-webkit-scrollbar-track {
  background-color: #3d3b3b;
  border-radius: 2px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 2px;
  padding: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 200px;
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  padding: 5px 145px;
  margin-left: 2px;
  margin-right: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
  display: block;
}

.content__card-link:hover,
.button:hover,
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.content__card-link:active,
.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus,
.content__card-link:focus,
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.button:focus-visible,
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
